body {
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  background: linear-gradient(to bottom right, #b03a48, #d6d6d6, #f0f0f0);
  background-attachment: fixed;
  min-height: 100vh;

}
h1{
    font-size: 3.1em;
    color: #f0f0f0;
}
h2 {
  color: #2c3e50;
  font-size: 2em;
  margin-bottom: 10px;
}
input[type="text"], select {
  margin: 10px 0;
  padding: 16px;
  font-size: 1.2em;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 400px;
}
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-top: 20px;
}

.botonera {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
}

button {
  margin: 10px 10px 10px 0;
  padding: 16px 24px;
  font-size: 1.2em;
  border-radius: 8px;
  background-color: #95a5a6;
  color: white;
  border: none;
  cursor: pointer;
  min-width: 180px;
}
button:hover {
  background-color: #7f8c8d;
}
#productos label {
  display: flex;
  align-items: center;
  margin: 12px 0;
  font-size: 1.2em;
}
#productos input[type="checkbox"] {
  transform: scale(1.8);
  margin-right: 12px;
}
#sugerencias div:hover{
  background-color: rgb(210, 217, 218);
  padding:10px;
  font-size: 20px;
}
#tablaPedidos {
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%;
  background: white;
}
#tablaPedidos th, #tablaPedidos td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
  font-size: 1.1em;
}
#guardar{
  background-color: rgb(134, 61, 76);
}
#guardar:hover{
  background-color: #c0392b;
}

#tablaPedidos th, #tablaPedidos td {
  border: 1px solid #ccc;
  padding: 4px 6px;         /* antes: 12px */
  font-size: 0.85em;        /* antes: 1.1em */
  line-height: 1.2;
}
#tablaPedidos th {
  background-color: rgb(134, 61, 76);
  color: white;
  font-size: 0.9em;
  padding: 6px;
}

.btnEliminar {
  background-color: rgb(134, 61, 76);
  padding: 10px 16px;
  border-radius: 6px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
}
.btnEliminar:hover {
  background-color: #c0392b;
}
#recargarExcel {
  font-size: 0.9em;
  padding: 8px 12px;
  margin-bottom: 20px;
  background-color: #95a5a6;
}
#recargarExcel:hover {
  background-color: #7f8c8d;
}

.barraAccion {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffffcc;
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: space-between; /* ← esto distribuye botones a la izquierda y total a la derecha */
  align-items: center;
  padding: 12px 16px;
  border-top: 1px solid #ccc;
  z-index: 100;
}

.barraAccion button {
  padding: 12px 20px;
  font-size: 1.1em;
  border-radius: 8px;
  background-color: #7f8c8d;
  color: white;
  border: none;
  cursor: pointer;
  min-width: 140px;
}

.barraAccion button:hover {
  background-color: #636e72;
}

#totalPedidos {
  font-size: 2.1em;
  color: #2c3e50;
}

#totalPedidos strong {
  font-weight: bold;
  color: #b03a48;
}

